@import url("clock.css");
@import url("battery.css");
@import url("window.css");
@import url("workspaces.css");

* {
    border:        none;
    border-radius: 0;
    font-family:   Comic Mono;
    font-size:     16px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
}


#mode, #battery, #cpu, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight, #custom-storage, #custom-spotify, #custom-weather, #custom-mail {
    margin:     0px 6px 0px 10px;
    min-width:  25px;
}


